@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
}

html {
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-user-select: none;
      user-select: none;
}
body:after {
  display: block;
  height: 200px;
  content: "";
}

section {
  display: block;
  padding-top: 54px;
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #666666;
}

.spot_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.spot_slider {
  padding: 20px;
  position: relative;
}
.spot_slider::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 6px solid #448899;
  border-bottom-color: #AABBCC;
  -webkit-animation: rotate 1s infinite linear;
          animation: rotate 1s infinite linear;
  position: absolute;
  left: 45%;
  bottom: 45%;
  z-index: -1;
}

.spot_img {
  width: 540px;
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.fa-chevron-circle-left,.fa-chevron-circle-right {
  padding: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: #eee;
  opacity: 0.6;
  cursor: pointer;
  z-index: 6;
  text-shadow: 0 2px 5px rgba(0,0,0,0.8);
}
.fas:hover {
  opacity: 1;
}

.fa-chevron-circle-right {
  right: 20px;
}

.balls {
  bottom: 0;
  position: absolute;
  height: 50px;
  width: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ball {
  border-radius: 50%;
  margin: 5px;
  width: 10px;
  height: 10px;
  background-color: black;
  opacity: 0.8;
  border: 1px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.order_box {
  margin-top: 15px;
  width: 100%;
}

.spot_title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.order_list {
  background-color: #E8E8E8;
  border-radius: 5px;
  list-style: none;
  padding: 20px;
  width: 100%;
}

li {
  padding: 6px 0;
}

#date {
  height: 25px;
  width: 180px;
  padding: 5px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.radio_group {
  display: inline-flex;
  position: relative;
  top: 3px;
}

.radio {
  margin-left: 5px;
  padding-left: 5px;
  display: inline-flex;
}

.radio_input {
  display: none;
}

.check {
  height: 22px;
  width: 22px;
  top: 2px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  margin-right: 5px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}
.check::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background-color: #448899;
  transform: scale(0);
}

.radio_input:checked + .check::after {
  transform: scale(1);
}

.select_date_alert {
  color: #f24;
  display: none;
}

#start_booking {
  padding: 5px 20px;
  margin-top: 10px;
  font-size: 19px;
  border-radius: 5px;
  background-color: #448899;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  border: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  outline: none;
}
#start_booking:hover {
  filter: contrast(130%);
}

.bottom_section {
  margin: 10px;
}

.description {
  border-top: 1px solid #E8E8E8;
  padding-top: 40px;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 400;
}

.address_title,.way_title {
  margin-bottom: 5px;
  font-weight: 700;
}

.address,.way {
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 400;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #757575;
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
}

/* keyframes特效 */
@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadein {
  10% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  10% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
/* keyframes特效 */

/* RWD調整 */
@media screen and (max-width: 1600px) {
  .order_list {
    width: 500px;
  }

  .bottom_section {
    margin: 20px;
  }
}
@media screen and (max-width: 1200px) {
  section {
    width: 800px;
  }

  .spot_content {
    width: 800px;
    margin: 0;
  }

  .spot_img {
    width: 400px;
    height: 280px;
  }

  .order_box {
    width: 90%;
  }

  .order_list {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  section {
    width: 600px;
  }

  .spot_content {
    width: 600px;
    flex-wrap: wrap;
  }

  .spot_img {
    width: 540px;
    height: 380px;
  }
}
@media screen and (max-width: 600px) {
  section {
    margin: 0;
    width: auto;
  }

  .spot_slider {
    padding: 0;
  }

  .spot_content {
    width: auto;
  }

  .spot_img {
    position: relative;
    border-radius: 0;
    width: 370px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .fa-chevron-circle-right {
    right: 0;
  }
}
/* RWD調整 */
