@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
  /* border: 1px solid black; */
}

html {
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.fixed_navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(102, 170, 187, 0.2);
}

#navbar {
  height: 54px;
  padding: 0 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#logout {
  display: none;
}

h1 {
  position: relative;
  font-weight: 700;
  font-size: 30px;
  flex: auto;
  margin: 0;
  color: #448899;
  padding: 2px;
  letter-spacing: 1px;
}

.top_title {
  text-decoration: none;
  color: #448899;
}

.nav_item {
  color: #666666;
  display: block;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

section {
  position: relative;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #666666;
  padding-top: 60px;
}
.booking_section {
  display: none;
}
form {
  margin: 0;
  padding: 0;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style: none;
  padding: 5px 0;
  margin-left: -40px;
}

hr {
  max-width: 1200px;
  border: 0.5px solid #e8e8e8;
}

.banner {
  padding: 20px;
  font-weight: 700;
}

.no_booking_alert {
  padding: 20px;
  display: none;
}

.info_card {
  display: flex;
  align-items: center;
  margin: 10px 20px;
}

.photo {
  width: 266px;
  height: 200px;
  background-color: #eee;
  background-size: cover;
}

.booking_info {
  margin-left: 40px;
}

.spot_name {
  color: #448899;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;

}

.icon_delete {
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-bottom: auto;
  cursor:pointer;
}

h4 {
  font-size: 19px;
  margin: 10px;
}

input {
  height: 20px;
  width: 200px;
  border: 1px solid #e8e8e8;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
}
input::placeholder {
  opacity: 0.8;
}

.middle_li {
  margin-top: 5px;
}
.tpfield {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 200px;
  border: 1px solid #e8e8e8;
  padding: 5px;
  border-radius: 5px;
}
p {
  font-size: 16px;
  margin: 5px;
}


.confirm_form {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.total_price, .error_alert, #confirm {
  align-self: flex-end;
  margin-right: 10px;
}

.total_price {
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
}
.error_alert {
  color: #f24;
  padding: 10px;
}

#confirm {
  padding: 5px 20px;
  margin-top: 10px;
  font-size: 19px;
  border-radius: 5px;
  background-color: #448899;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#confirm:hover {
  filter: contrast(130%);
}

footer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-height: 100%;
  min-height: 104px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #757575;
  bottom: 0;
  width: 100%;
}

/* RWD調整 */
@media screen and (max-width: 1600px) {
  #navbar {
    padding: 0 150px;
  }

  section {
    min-width: 900px;
  }

  form, hr {
    min-width: 700px;
  }

  .banner, .no_booking_alert {
    padding: 20px;
  }
}
@media screen and (max-width: 1200px) {
  #navbar {
    padding: 0 150px;
  }

  .banner, .no_booking_alert {
    text-align: center;
  }

  .contact_form, .pay_form {
    padding: 0 10px;
  }
}
@media screen and (max-width: 900px) {
  #navbar {
    padding: 0 50px;
  }

  section {
    min-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  form, hr {
    min-width: 580px;
  }

  .info_card {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .photo {
    width: 500px;
    height: 350px;
    align-self: center;
  }

  .booking_info {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  #navbar {
    padding: 0 10px;
  }

  section {
    min-width: 360px;
  }

  form, hr {
    min-width: 340px;
    margin: 20px 0;
  }

  hr {
    margin-left: 5px;
  }

  .banner, .no_booking_alert {
    padding: 20px;
  }

  .info_card {
    margin: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }

  .photo {
    width: 320px;
    height: 236px;
  }
}
/* RWD調整 */