@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
  /* border: 1px solid #222; */
}
html {
  height: 100%;
}
body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  -webkit-user-select: none;
      user-select: none;
}
body:after {
  display: block;
  height: 200px;
  content: "";
}

.middle_nav {
  padding-top: 54px;
  color: #F8F8F8;
  background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
  height: 320px;
  position: relative;
  margin: 0;
}
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 320px;
  display: flex;
  align-items: center;
  position: relative;
}
.middle_content {
  z-index: 5;
}

h2 {
  text-shadow: 0px 0px 30px #AABBCC;
  font-weight: 500;
  font-size: 28px;
  margin-top: 0;
}

h4 {
  text-shadow: 0px 0px 30px #AABBCC;
  font-size: 16px;
  font-weight: 400;
}

.search_corner {
  min-width: 500px;
  font-size: 0;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
}

#input_value {
  min-width: 400px;
  height: 30px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  color: #757575;
  font-weight: 700;
  border: none;
  font-size: 16px;

}

.search {
  min-width: 60px;
  border-radius: 0 5px 5px 0;
  background-color: #448899;
  border: none;
  vertical-align: top;
  height: 50px;
  border: 1px solid #448899;
  cursor: pointer;
  transform: translateX(-5px);
}
.search:hover {
  filter: contrast(120%);
}

.fa-search {
  font-size: 30px;
  color: #fff;
  text-shadow: none;
}

.cover_box {
  position: absolute;
  right: -20px;
  width: 650px;
  height: 320px;
  z-index: 1;
  background-image: url('../images/welcome\ 1.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
}

.info {
  margin: 10px;
  width: 270px;
  height: 250px;
  flex: none;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  color: #757575;
  font-size: 16px;
  overflow: hidden;
  text-decoration: none;
  transition: 0.5s ease;
}
.info:hover {
  transform: translate(-2px,-2px);
  box-shadow: 2px 2px 5px #eee;
  opacity: 0.8;
}

.pic {
  height: 180px;
  max-width: 100%;
  background-image: url("http://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000848.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.pic:before {
  content: "";
  display: block;
  position: relative;
  max-width: 100%;
  height: 180px;
  background: linear-gradient(180deg, #eee 0%, #AADDEE 50%, #eee 100%);
  -webkit-animation: bgc_move 4s linear infinite;
          animation: bgc_move 4s linear infinite;
  background-size: 100% 300%;
  z-index: -1;
}

.spot_name {
  margin: 0;
  padding: 5px 10px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mrt_name {
  margin: 0;
  float: left;
  padding: 5px 10px;
}

.cata_name {
  margin: 0;
  padding: 5px 10px;
  float: right;
}

/* 載入icon */
.loading-icon {
  background: #AADDEE;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  margin-top: 50px;
}
.loading-icon::before, .loading-icon::after {
  position: absolute;
  vertical-align: middle;
  background: #AADDEE;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0.3;
}
.loading-icon::before {
  content: "";
  -webkit-animation: ripple 0.8s infinite;
          animation: ripple 0.8s infinite;
}
.loading-icon::after {
  content: "";
  -webkit-animation: ripple 1s infinite;
          animation: ripple 1s infinite;
}
/* 載入icon */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 104px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #757575;
  position: absolute;
  width: 100%;
  bottom: 0;
  -webkit-user-select: none;
  user-select: none;
}

/* keyframes特效 */
@-webkit-keyframes bgc_move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@keyframes bgc_move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -300%;
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes render_move {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}
@keyframes render_move {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: 20%;
    opacity: 1;
  }
}
/* keyframes特效 */

/* RWD調整 */
@media screen and (max-width: 1600px) {
  .wrapper {
    width: 80%;
  }
  #input_value {
    min-width: 350px;
  }

}
@media screen and (max-width: 1200px) {
  .cover_box {
    width: 500px;
    height: 240px;
    bottom: 0;
  }

  .content {
    width: 90%;
  }

  .info {
    width: 45%;
    flex: none;
  }

  .pic {
    width: 100%;
    background-position: center;
    background-size: 514px auto;
  }
}
@media screen and (max-width: 900px) {
  .cover_box {
    width: 400px;
    height: 190px;
    right: 0;
  }
  .loading-icon {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
  }
  #input_value {
    min-width: 230px;
    max-width: 230px;
  }
  .search_corner{
    min-width: 300px;
  }
  .search {
    min-width: 50px;
  }
  .cover_box {
    width: 300px;
    height: 145px;
    right: -55px;
  }

  .info {
    width: 90%;
    flex: none;
  }

  .pic {
    background-size: 480px auto;
    background-position: center;
  }
}

@media screen and (max-width: 400px) {
  .content {
    width: 100%;
  }
}
/* RWD調整 */