@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap");
* {
  font-family: "Noto Sans TC", sans-serif;
  /* border: 1px solid black; */
}

html {
  height: 100%;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

middle_nav {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F8F8F8;
  background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
  min-height: 250px;
  position: relative;
}

.fa-receipt {
  font-size: 70px;
  padding: 30px 40px;
  border-radius: 50%;
  color: #66AABB;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 20px rgba(128, 128, 128, 0.3);
}

section {
  margin: 30px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #666666;
}

.order_history {
  margin-bottom: 30px;
}

h2 {
  color: #448899;
  font-size: 27px;
  letter-spacing: 1px;
}

hr {
  opacity: 0.3;
}

.content, .orderinfo {
  list-style: square;
  font-size: 18px;
}

.content {
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.2);
  margin: 30px 0;
  padding-bottom: 10px;
  box-sizing: border-box;
  min-width: 1200px;
  border-radius: 0 0 5px 5px;
}

.orderinfo {
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
}

#order_set {
  padding: 10px;
  color: #fff;
  font-weight: 600;
  margin-left: -40px;
  background-color: #448899;
}

.num {
  color: #448899;
  cursor: pointer;
  text-decoration: underline;
}

footer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-height: 100%;
  min-height: 104px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #757575;
  bottom: 0;
  width: 100%;
}

/* RWD */
@media screen and (max-width: 1600px) {
  section {
    width: 80%;
  }
  .content {
    min-width: 80%;
  }
}
@media screen and (max-width: 900px) {
  h2, .history_alert {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  section {
    width: 90%;
  }
  .content {
    min-width: 90%;
  }
}
/* RWD */