<!DOCTYPE html>
<html lang="en" >
<title>{% block title %}台北一日遊{% endblock %}</title>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
  <meta name="description" content="訂購台北景點導覽行程">
  <meta name="robots" content="index, follow">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
  {% block head %}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}"/>
  {% endblock %}
</head>

<body>
  <nav class="fixed_navbar">
    <div class="navbar">
      <h1><a href="/" class="top_title">台北一日遊</a></h1>
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
      <ul id="list" class="list">
        <li class="nav_item item"><div id="member">會員專區</div></li>
        <li class="nav_item item"><div id="booking">預定行程</div></li>
        <li class="nav_item item"><div id="login">登入/註冊</div></li>
        <li class="nav_item item"><div id="logout">登出系統</div></li>
      </ul>
    </div>
  </nav>
  {% block main %}
  <div class="container">
    <div class="middle_nav">
      <div class="wrapper">
        <div class="middle_content">
          <h2>輕鬆享受台北一日悠閒</h2>
          <h4>探索每個角落，體驗城市的深度旅遊行程</h4>
          <div  class="search_corner">
            <input type="text" id="input_value" placeholder="輸入景點名稱、捷運站查詢">
            <button class="search" id="search">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <div class="cover_box"></div>
      </div>
    </div>
    <main>
      <div class="content" id="content"></div>
      <div class="loading-icon" id="loading-icon"></div>
    </main>
    {% endblock %}
    <div class="blue_background"></div>
    <div class="black_background"></div>
    <form class="login_form">
      <div class="top_bar"></div>
      <div class="close_icon" id="close_login_form">✕</div>
      <h2 class="login_title">登入會員帳號</h2>
      <input type="email" class="user_insert" id="login_email" placeholder="輸入電子信箱" required />
      <input type="password" class="user_insert" id="login_password" placeholder="輸入密碼" required />
      <button type="button" id="login_button">登入帳戶</button>
      <p class="login_msg"></p>
      <div class="try_signup">還沒有帳戶？點此註冊</div>
    </form>
    <form class="signup_form">
      <div class="top_bar"></div>
      <div class="close_icon" id="close_signup_form">✕</div>
      <h2 class="login_title">註冊會員帳號</h2>
      <input type="text" class="user_insert" id="signup_name" placeholder="輸入姓名" required/>
      <input type="email" class="user_insert" id="signup_email" placeholder="輸入電子信箱" required/>
      <input type="password" class="user_insert" id="signup_password" placeholder="輸入密碼 ( 5-12位英數字 )" required/>
      <button type="button" id="signup_button">註冊新帳戶</button>
      <p class="signup_msg"></p>
      <div class="try_login">已經有帳戶了？點此登入</div>
    </form>
    <footer id="footer">
      <h5>COPYRIGHT © 2021 台北一日遊</h5>
    </footer>
  </div>
  {% block script %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
  {% endblock %}
</body>
</html>
